<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <link href="../menu.css" rel="stylesheet" />
  </head>
  <body>
    <div class="wrapper" id="">
      {{#each items}}
        <div
          class="menuItem"
          style="background-image: url('{{this.picture}}'); background-size: 100%; background-position: center;"
        >
          <p>
            {{this.id}}
            {{this.title}}
          </p>
          <p>
            price:{{this.cost}}
          </p>
          <p>
            calories:{{this.callQuantity}}
          </p>
          {{this.description}}
        </div>
      {{/each}}
    <script src="../menu.js">
    </script>
  </body>
  <html></html>
</html>
